/* Fonts */
@font-face
{
	font-family: office;
	src:url(../font/OfficinaMedium.ttf);
}
/* Fonts */
@font-face
{
	font-family: officebold;
	src:url(../font/OfficinaBold.ttf);
}
/* Header */
body
{
	background: -webkit-linear-gradient(top, #ef2423 1%,#9d0504 100%);
}
.header
{
	height: 150px;
	background-color: white;
	&>div
	{
		display: inline-block;
	}
	.runpanel
	{
		width: 360px;
		&>h1
		{
			color: white;
			font-size: 26px;
			width: 100%;
			border-bottom: white solid 1px;
		}
	}
	.summary
	{
		float: right;
		&>div:nth-child(1)
		{
			display: inline-block;
			p
			{
				display: inline-block;
				color: white;
				font-size: 18px;
				font-family: officebold;
			}
		}
		&>div:nth-child(2)
		{
			&>div
			{
				height: 80px;
				display: inline-block;
				border-left: white solid 1px;
				&>h2
				{
					color: white;
				}
				&>h3
				{
					color: white;
				}
			}
		}
	}
}
.body
{
	.sidebar
	{
		vertical-align: top;
		display: inline-block;
		width: 15%;
		&>div
		{
			width: 92%;
			margin-left: auto;
			margin-right: auto;
			&:nth-child(1)
			{
				height:120px;
				border-bottom: white solid 1px;
			}
			&:nth-child(2)
			{
				border-bottom: white solid 1px;
				&>h3
				{
					color: white;
					font-size: 14px;
					line-height: 20px;
				}
			}
			&:nth-child(3)
			{
				border-bottom: white solid 1px;
			}
			&:nth-child(4)
			{

			}
		}
	}
	.simulation
	{
		display: inline-block;
		width: 84%;
		&>div
		{
			width: 900px;
			height: 120px;
			margin-left: 50px;
			&>div
			{
				display: inline-block;
				height: 120px;
				position: relative;
			}
			.place
			{
				width: 300px;
				&>h2
				{
					margin-top: 0;
					margin-bottom: 0;
					display: inline-block;
					position: absolute;
					left: 0;
					bottom: 10px;
					color: white;
					font-size: 20px;
					line-height: 20px;
				}
				&>.line
				{
					display: inline-block;
					position: absolute;
					bottom: 17px;
					left: 80px;
					width: 60px;
					border-bottom: white solid 1px;
				}
				img
				{
					position: absolute;
					bottom: 0;
					right: 0;
				}
				.orders
				{
					position: absolute;
					left: 68px;
					bottom: 30px;
					width: 58px;
					height: 64px;
					background:url('../img/order-count-sprite.png') 0px 0px;
					visibility:hidden;
				}
			}
			.bike
			{
				width: 500px;
				img
				{
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			.people
			{
				width: 80px;
				img
				{
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}

