/* Header */
/* Header */
body {
  background-color: white;
}
.header > div {
  display: inline-block;
}
.header .summary > div {
  display: inline-block;
}
.simulation > div {
  width: 900px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}
.simulation > div > div {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  position: relative;
}
.simulation > div .place {
  width: 200px;
}
.simulation > div .place img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.simulation > div .place .orders {
  position: absolute;
  left: -37px;
  bottom: 40px;
  width: 58px;
  height: 64px;
  background: url('../img/order-count-sprite.png') 0px 0px;
  visibility: hidden;
}
.simulation > div .bike {
  width: 600px;
}
.simulation > div .bike img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.simulation > div .people {
  width: 80px;
}
.simulation > div .people img {
  position: absolute;
  bottom: 0;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
